<%- include ('../include/header')%>

<div class="ui raised very padded text container segment">
  <h2>Contact</h2>
  <form action="/contact" method="post">
    <div class="inputs">
      <div>
        <label for="mom">Numéro de téléphone :</label>
        <input style="margin-left: 1%;" type="nom" id="nom" name="num">
      </div>
    </div>
    <button type="submit" class="ui red labeled submit icon button" style="margin-top: 2%;">
      <i class="icon phone"></i>Nous contactez
    </button>
  </form>
</div>
<%- include ('../include/footer')%>